@import 'tailwindcss';

/* Estilos globales para iconos SVG */
.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	vertical-align: middle;
}

.icon svg {
	width: 1.25em;
	height: 1.25em;
	stroke-width: 2;
}

/* Iconos en títulos */
h1 .icon svg,
h2 .icon svg,
h3 .icon svg {
	width: 1em;
	height: 1em;
	margin-right: 0.5rem;
}

/* Iconos en botones */
button .icon svg {
	width: 1.1em;
	height: 1.1em;
	margin-right: 0.35rem;
}

/* Iconos de estadísticas */
.stat-icon svg {
	width: 2rem;
	height: 2rem;
	stroke-width: 2.5;
}

/* Iconos de navegación */
.nav-icon svg {
	width: 2rem;
	height: 2rem;
	stroke-width: 2;
}

/* Iconos inline (teléfono, etc) */
.telefono-link .icon svg {
	width: 0.9em;
	height: 0.9em;
	margin-right: 0.25rem;
}

